<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/newDashboard.css" rel="stylesheet">

</head>
    <body>
        <!-- Top Navbar -->
        <nav class="navbar navbar-light bg-light border border-bottom sticky-top">
            <div class="container-fluid">
                <a class="navbar-brand fs-5" href="../secure/dashboard">
                    <img src="/image/dogBoneLogo.png" alt="" width="25" height="25" class="d-inline-block align-text-middle">
                    Dashboard
                </a>

                <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </nav>
        <!-- End of top navbar -->

            <div class="container-fluid">
                <div class="row">
                    <!-- sidebar -->
                    <nav class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse" id="sidebarMenu">
                        <div class="position-sticky pt-4">
                            <h3 class="ps-2">Menu</h3>
                            <hr>
                            <ul class="nav flex-column nav-pills px-2">
                                <li class="nav-item">
                                    <a class="nav-link active sidebar-hover" href="../secure/dashboard">All Tables</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link sidebar-hover" href="../secure/dashboard_user">User Table</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link sidebar-hover" href="../secure/dashboard_pet">Pet Table</a>
                                </li>
                            </ul>
                        </div>
                    </nav> <!-- end .sidebar -->
                    <!-- Table div -->
                    <div class="col-md-9 col-lg-10 ms-sm-auto px-md-4 pt-4">
                        <!-- user table -->
                        <div>
                            <h3>User Table</h3>
                            <img src="/image/addIcon.png" alt="" width="25" height="25" class="d-inline-block align-text-middle" id="addUser" data-bs-toggle="modal" data-bs-target="#exampleModal">
                            <table class="table table-hover" >
                                <thead>
                                <tr>
                                    <th>User Id</th>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                    <th>Email</th>
                                    <th>Number of pets</th>
                                </tr>
                                </thead>
                                <tbody id="userTableBody">
                                    <!-- user data goes here -->
                                </tbody>
                            </table>
                        </div>
                        <!-- end of user table -->
                        <div>
                            <hr class="my-3">
                        </div>
                        <!-- pet table -->
                        <div class="mt-auto">
                            <h3>Pet Table</h3>
                            <img src="/image/addIcon.png" alt="" width="25" height="25" class="d-inline-block align-text-middle" id="addPet" data-bs-toggle="modal" data-bs-target="#exampleModal">
                            <table class="table table-hover" >
                                <thead>
                                    <tr>
                                        <th>Pet Id</th>
                                        <th>Pet Name</th>
                                        <th>Birthdate</th>
                                        <th>Breed Type</th>
                                        <th>Sex</th>
                                        <th>Color</th>
                                        <th>Owner Id</th>
                                    </tr>
                                </thead>
                                <tbody id="petTableBody">

                                </tbody>
                            </table>
                        </div>
                        <!-- end of pet table -->
                    </div><!-- end of tables -->
                </div> <!-- end .row -->
            </div> <!-- end .container-fluid -->



        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <span id="modalHeader"><h5 class="modal-title">Modal title</h5></span>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body" id="modalBody">


                    </div>
                    <div class="modal-footer" id="modalFooter">
                        <butotn type="button" class="btn btn-danger" id="deleteBtn">Delete</butotn>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" id="saveBtn" data-bs-dismiss="modal">Save changes</button>
                        <button type="button" class="btn btn-success" id="newBtn" data-bs-dismiss="modal">Create</button>
                    </div>
                </div>
            </div>
        </div>




        <script src="/js/jquery-3.6.0.min.js"></script>
        <script src="/bootstrap/js/bootstrap.min.js"></script>
<!--        <script src="/js/dashboard.js"></script>-->
        <script src="/js/dashboard.js"></script>

    </body>
</html>

